* {
  box-sizing: border-box;
}


.board {
  position: relative;
  width: 50%;
  background-color: red;
}

.grid-tiles {
  display: inline-block;
  width: 33.3333333%;
  height: 200px;
  text-align: center;
  line-height: 180px;
  border: 1px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
